@model PetsWeb.ViewModels.DetailsOfOwnershipSearchFilterVM
@{
    ViewBag.Title = "Delete Details Of Ownership";
}

<div style="padding-top:20px;">
    <div class="panel panel-danger">
        <div class="panel-heading">
            @Resources.Resource.DeleteDetailsOfOwnership
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.OwnerID)
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.OwnerID, new { @id = "OwnerID", @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Surname)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Surname, new { @id = "Surname", @class = "form-control", @style = "max-width:480px", @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group  input-group">
                        @Html.TextBoxFor(m => m.FirstName, new { @id = "FirstName", @class = "form-control", @style = "max-width:480px", @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Telephone)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group  input-group">
                        @Html.TextBoxFor(m => m.Telephone, new { @id = "Telephone", @class = "form-control", @style = "max-width:480px", @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.PosCode)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group  input-group">
                        @Html.TextBoxFor(m => m.PosCode, new { @id = "PosCode", @class = "form-control", @style = "max-width:480px", @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Address)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group  input-group">
                        @Html.TextBoxFor(m => m.Address, new { @id = "Address", @class = "form-control", @style = "max-width:480px", @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.CountryName)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.CountryName, new { @id = "CountryName", @class = "form-control", @style = "max-width:480px", @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.CityName)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.CityName, new { @id = "CityName", @class = "form-control", @style = "max-width:480px", @readonly = "readonly" })
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-danger  fa fa-trash-o" id="DeleteDetailsOfOwnership">@Resources.Resource.Delete</button>
            <button type="button" class="btn btn-danger  fa fa-times" id="Close">@Resources.Resource.Close</button>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $(document).on('click', '#Close', function () {
                window.location = "/DetailsOfOwnership/Index";
            });
             $(document).on('click', '#DeleteDetailsOfOwnership', function () {
                bootbox.confirm({
                    message: "@Resources.Resource.AreYouSure",
                    buttons: {
                        confirm: {
                            label: '@Resources.Resource.Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: '@Resources.Resource.No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            if ($("#Surname").val() == '') {
                                bootbox.alert({
                                    message: '@Resources.Resource.PleasefillalRequiredfields',
                                    size: 'small',
                                    buttons: {
                                        ok: {
                                            label: '@Resources.Resource.Ok',
                                            className: 'btn-info'
                                        }
                                    }
                                });
                            }
                            else if ($("#FirstName").val() == '') {
                                bootbox.alert({
                                    message: '@Resources.Resource.PleasefillalRequiredfields',
                                    size: 'small',
                                    buttons: {
                                        ok: {
                                            label: '@Resources.Resource.Ok',
                                            className: 'btn-info'
                                        }
                                    }
                                });
                            }
                            else
                            {
                                var dialog = bootbox.dialog({
                                    title: '@Resources.Resource.PleaseWait',
                                    message: '<p><i class="fa fa-spin fa-spinner"></i> @Resources.Resource.Deleting...</p>',
                                    closeButton: false
                                });
                                var dataToDelete = {
                                    OwnerID: $("#OwnerID").val(),
                                    Surname: $("#Surname").val(),
                                    FirstName: $("#FirstName").val()
                                };
                                $.ajax({
                                    type: "POST",
                                    url: "/DetailsOfOwnership/DeleteDetailsOfOwnership",
                                    data: JSON.stringify(dataToDelete),
                                    contentType: 'application/json',
                                    success: function (data) {
                                        dialog.modal('hide');
                                        if (data.Code == 0) {
                                            toastr.error(data.Msg);
                                            bootbox.alert(data.Msg);
                                        }
                                        else if (data.Code == 1) {
                                            toastr.success(data.Msg);
                                            bootbox.alert(data.Msg);
                                            window.location = "/DetailsOfOwnership/Index";
                                        }
                                    },
                                    error: function (data) {
                                        dialog.modal('hide');
                                        toastr.error(data);
                                        bootbox.alert(data.Msg);
                                    }
                                });
                            }
                        }
                    }
                });
            });
       });
    </script>
}


