@model PetsWeb.ViewModels.DiscriptionOfAnimalSearchFilterVM
@{
    ViewBag.Title = "Update Description Of Animal";
}

<script>
    function GetOwnerInfo(data)
    {
        if (data.OwnerName != null && data.OwnerName != '')
        {
            document.getElementById("OwnerID").value = data.OwnerID;
            document.getElementById("OwnerName").value = data.OwnerName;
        }
        else
        {
            document.getElementById("OwnerID").value = '';
            document.getElementById("OwnerName").value = '';
        }
    }
</script>

<div style="padding-top:20px;">
    <div class="panel panel-success">
        <div class="panel-heading">
            @Resources.Resource.UpdateDescriptionOfAnimal
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.AnimalID)
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.AnimalID, new { @id = "AnimalID", @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.AnimalName)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.AnimalName, new { @id = "AnimalName", @class = "form-control", @style = "max-width:480px" })
                        @Html.ValidationMessageFor(m => m.AnimalName)
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.OwnerName)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group  input-group">
                        @Html.TextBoxFor(m => m.OwnerName, new { @id = "OwnerName", @class = "form-control", @style = "max-width:480px", @readonly = "readonly" })
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-circle fa fa-search" type="button" id="BtnSearchOwner">
                            </button>
                        </span>
                        <span>
                        </span>
                        <span class="input-group-btn">
                            <a class=" btn btn-primary btn-circle fa fa-plus" id="SaveOwner" href="/DiscriptionOfAnimal/SaveDetailsOfOwnership"></a>
                        </span>
                        @Html.ValidationMessageFor(m => m.OwnerName)
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.DateOfBirth)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group  input-group">
                        @Html.TextBoxFor(m => m.DateOfBirth, new { @id = "DateOfBirth", @class = "form-control", @Value = Model.DateOfBirth.ToString("dd/MM/yyyy"), @style = "max-width:480px" })
                        @Html.ValidationMessageFor(m => m.DateOfBirth)
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.GenderName)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.GenderID, new List<SelectListItem>
                   {
                       new SelectListItem{ Text=Resources.Resource.Male, Value = "1",Selected=true },
                       new SelectListItem{ Text=Resources.Resource.Female, Value = "2",Selected=false }
                   }, new { @id = "GenderNo", @class = "form-control", @style = "max-width:480px" })
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.AnimalTypeName)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group  input-group">
                        @Html.DropDownListFor(m => m.AnimalTypeID, new SelectList(Model.AnimalType, "AnimalTypeID", "AnimalTypeName"), new { @id = "AnimalTypeNo", @class = "form-control", @style = "max-width:480px" })
                        <span class="input-group-btn">
                            <a a class=" btn btn-primary btn-circle fa fa-plus  js-Pop" id="SaveAnimalTypes" href="/AnimalType/SaveAnimalType"></a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.BreedName)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group  input-group">
                        @Html.DropDownListFor(m => m.BreedID, new SelectList(Model.Breed, "BreedID", "BreedName"), new { @id = "BreedNo", @class = "form-control", @style = "max-width:480px" })
                        <span class="input-group-btn">
                            <a a class=" btn btn-primary btn-circle fa fa-plus  js-Pop" id="SaveBreeds" href="/Breed/SaveBreed"></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.CoatColourName)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group  input-group">
                        @Html.DropDownListFor(m => m.CoatColourID, new SelectList(Model.CoatColour, "CoatColourID", "CoatColourName"), new { @id = "CoatColourNo", @class = "form-control", @style = "max-width:480px" })
                        <span class="input-group-btn">
                            <a a class=" btn btn-primary btn-circle fa fa-plus  js-Pop" id="SaveCoatColours" href="/CoatColour/SaveCoatColour"></a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.LocationOfMicrochipName)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group  input-group">
                        @Html.DropDownListFor(m => m.LocationOfMicrochipID, new SelectList(Model.LocationOfMicrochip, "LocationOfMicrochipID", "LocationOfMicrochipName"), new { @id = "LocationOfMicrochipNo", @class = "form-control", @style = "max-width:480px" })
                        <span class="input-group-btn">
                            <a a class=" btn btn-primary btn-circle fa fa-plus  js-Pop" id="SaveLocationOfMicrochips" href="/LocationOfMicrochip/SaveLocationOfMicrochip"></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.MicrochipNumber)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.MicrochipNumber, new { @id = "MicrochipNumber", @class = "form-control", @style = "max-width:480px" })
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.DateOfMicrochipping)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group  input-group">
                        @Html.TextBoxFor(m => m.DateOfMicrochipping, new { @id = "DateOfMicrochipping", @class = "form-control", @Value = Model.DateOfMicrochipping.ToString("dd/MM/yyyy"), @style = "max-width:480px" })
                        @Html.ValidationMessageFor(m => m.DateOfMicrochipping)
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-success fa fa-edit" id="UpdateDescriptionOfAnimal">@Resources.Resource.Update</button>
            <button type="button" class="btn btn-danger  fa fa-times" id="Close">@Resources.Resource.Close</button>
        </div>
    </div>
</div>
<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>
@Html.TextBoxFor(m => m.OwnerID, new { @id = "OwnerID", @class = "form-control", @style = "visibility : hidden;" })
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("#AnimalName").focus();
            $('#BtnSearchOwner').on('click', function () {
                var url = '/SearchUnit/SearchOwners/OwnerInfo';
                $.get(url, function (data) {
                    $('#modal-container').html(data);
                    $('#modal-container').modal('show');
                });
            });
            $.fn.datepicker.defaults.format = "dd/mm/yyyy";
            $('#DateOfBirth').datepicker({
                autoclose: true
            });
            $('#DateOfMicrochipping').datepicker({
                autoclose: true
            });
            $(document).on('click', '#Close', function () {
                window.location = "/DiscriptionOfAnimal/Index";
            });
            $("#AnimalName").keyup(function (event) {
                if (event.keyCode == 13)
                    $("#DateOfBirth").focus();
            });
            $("#DateOfBirth").keyup(function (event) {
                if (event.keyCode == 13)
                    $("#MicrochipNumber").focus();
            });
            $("#MicrochipNumber").keyup(function (event) {
                if (event.keyCode == 13)
                    $("#DateOfMicrochipping").focus();
            });
            $("#DateOfMicrochipping").keyup(function (event) {
                if (event.keyCode == 13)
                    $("#AnimalName").focus();
            });
            $('#tdataTable').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });
            $(document).on('click', '.js-Pop', function (e) {
                $('#modal-container').removeData('bs.modal');
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');

            });
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
            $('#CancelModal').on('click', function () {
                return false;
            });
            $("body").on("keyup", "#ArabicName", function (event) {
                if (event.keyCode == 13) {
                    $("#EnglishName").focus();
                    document.getElementById('EnglishName').style.direction = "ltr";
                }
            });
            $("body").on("keyup", "#EnglishName", function (event) {
                if (event.keyCode == 13) {
                    $("#ArabicName").focus();
                    document.getElementById('ArabicName').style.direction = "rtl";
                }
            });
            $(document).on('click', '#SaveAnimalType', function () {
                bootbox.confirm({
                    message: "@Resources.Resource.AreYouSure",
                    buttons: {
                        confirm: {
                            label: '@Resources.Resource.Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: '@Resources.Resource.No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            if ($("#ArabicName").val() == '') {
                                bootbox.alert({
                                    message: '@Resources.Resource.PleasefillalRequiredfields',
                                    size: 'small',
                                    buttons: {
                                        ok: {
                                            label: '@Resources.Resource.Ok',
                                            className: 'btn-info'
                                        }
                                    }
                                });
                            }
                            else
                            {
                                var dialog = bootbox.dialog({
                                    title: '@Resources.Resource.PleaseWait',
                                    message: '<p><i class="fa fa-spin fa-spinner"></i> @Resources.Resource.Saving...</p>',
                                    closeButton: false
                                });
                                var dataToSave = {
                                    AnimalTypeID: $("#AnimalTypeID").val(),
                                    ArabicName: $("#ArabicName").val(),
                                    EnglishName: $("#EnglishName").val()
                                };
                                $.ajax({
                                    type: "POST",
                                    url: "/AnimalType/SaveAnimalType",
                                    data: JSON.stringify(dataToSave),
                                    contentType: 'application/json',
                                    success: function (data) {
                                        dialog.modal('hide');
                                        if (data.Code == 0) {
                                            toastr.error(data.Msg);
                                            bootbox.alert(data.Msg);
                                        }
                                        else if (data.Code == 1) {
                                            toastr.success(data.Msg);
                                            bootbox.alert(data.Msg);
                                            document.getElementById("AnimalTypeID").value = data.LastID;
                                            document.getElementById("ArabicName").value = "";
                                            document.getElementById("EnglishName").value = "";
                                            $("#ArabicName").focus();
                                            var AnimalTypeID = $('#AnimalTypeNo');
				                            AnimalTypeID.empty();
                                             $.ajax({
					                            method: "GET",
					                            url: "/AnimalType/RefillAllAnimalType",
					                            success: function (data) {
                                                    $.each(data, function (id, region) {
                                                        AnimalTypeID.append($('<option/>', {
                                                            value: region.AnimalTypeID,
                                                            text: region.AnimalTypeName
							                            }));
						                            });

						                            dialog.modal('hide');
					                            },
					                            error: function (xhr, AJAXOptions, thrownError) {
						                            dialog.modal('hide');
						                            alert('Failed to retrieve .');
					                            }
				                            });
                                        }
                                    },
                                    error: function (data) {
                                        dialog.modal('hide');
                                        toastr.error(data);
                                        bootbox.alert(data.Msg);
                                    }
                                });
                            }
                        }
                    }
                });
            });
            $(document).on('click', '#SaveBreed', function () {
                bootbox.confirm({
                    message: "@Resources.Resource.AreYouSure",
                    buttons: {
                        confirm: {
                            label: '@Resources.Resource.Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: '@Resources.Resource.No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            if ($("#ArabicName").val() == '') {
                                bootbox.alert({
                                    message: '@Resources.Resource.PleasefillalRequiredfields',
                                    size: 'small',
                                    buttons: {
                                        ok: {
                                            label: '@Resources.Resource.Ok',
                                            className: 'btn-info'
                                        }
                                    }
                                });
                            }
                            else
                            {
                                var dialog = bootbox.dialog({
                                    title: '@Resources.Resource.PleaseWait',
                                    message: '<p><i class="fa fa-spin fa-spinner"></i> @Resources.Resource.Saving...</p>',
                                    closeButton: false
                                });
                                var dataToSave = {
                                    BreedID: $("#BreedID").val(),
                                    ArabicName: $("#ArabicName").val(),
                                    EnglishName: $("#EnglishName").val()
                                };
                                $.ajax({
                                    type: "POST",
                                    url: "/Breed/SaveBreed",
                                    data: JSON.stringify(dataToSave),
                                    contentType: 'application/json',
                                    success: function (data) {
                                        dialog.modal('hide');
                                        if (data.Code == 0) {
                                            toastr.error(data.Msg);
                                            bootbox.alert(data.Msg);
                                        }
                                        else if (data.Code == 1) {
                                            toastr.success(data.Msg);
                                            bootbox.alert(data.Msg);
                                            document.getElementById("BreedID").value = data.LastID;
                                            document.getElementById("ArabicName").value = "";
                                            document.getElementById("EnglishName").value = "";
                                            $("#ArabicName").focus();
                                            var BreedID = $('#BreedNo');
				                            BreedID.empty();
                                             $.ajax({
					                            method: "GET",
					                            url: "/Breed/RefillAllBreed",
					                            success: function (data) {
                                                    $.each(data, function (id, region) {
                                                        BreedID.append($('<option/>', {
                                                            value: region.BreedID,
                                                            text: region.BreedName
							                            }));
						                            });

						                            dialog.modal('hide');
					                            },
					                            error: function (xhr, AJAXOptions, thrownError) {
						                            dialog.modal('hide');
						                            alert('Failed to retrieve .');
					                            }
				                            });
                                        }
                                    },
                                    error: function (data) {
                                        dialog.modal('hide');
                                        toastr.error(data);
                                        bootbox.alert(data.Msg);
                                    }
                                });
                            }
                        }
                    }
                });
            });
            $(document).on('click', '#SaveCoatColour', function () {
                bootbox.confirm({
                    message: "@Resources.Resource.AreYouSure",
                    buttons: {
                        confirm: {
                            label: '@Resources.Resource.Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: '@Resources.Resource.No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            if ($("#ArabicName").val() == '') {
                                bootbox.alert({
                                    message: '@Resources.Resource.PleasefillalRequiredfields',
                                    size: 'small',
                                    buttons: {
                                        ok: {
                                            label: '@Resources.Resource.Ok',
                                            className: 'btn-info'
                                        }
                                    }
                                });
                            }
                            else
                            {
                                var dialog = bootbox.dialog({
                                    title: '@Resources.Resource.PleaseWait',
                                    message: '<p><i class="fa fa-spin fa-spinner"></i> @Resources.Resource.Saving...</p>',
                                    closeButton: false
                                });
                                var dataToSave = {
                                    CoatColourID: $("#CoatColourID").val(),
                                    ArabicName: $("#ArabicName").val(),
                                    EnglishName: $("#EnglishName").val()
                                };
                                $.ajax({
                                    type: "POST",
                                    url: "/CoatColour/SaveCoatColour",
                                    data: JSON.stringify(dataToSave),
                                    contentType: 'application/json',
                                    success: function (data) {
                                        dialog.modal('hide');
                                        if (data.Code == 0) {
                                            toastr.error(data.Msg);
                                            bootbox.alert(data.Msg);
                                        }
                                        else if (data.Code == 1) {
                                            toastr.success(data.Msg);
                                            bootbox.alert(data.Msg);
                                            document.getElementById("CoatColourID").value = data.LastID;
                                            document.getElementById("ArabicName").value = "";
                                            document.getElementById("EnglishName").value = "";
                                            $("#ArabicName").focus();
                                            var CoatColourID = $('#CoatColourNo');
				                            CoatColourID.empty();
                                             $.ajax({
					                            method: "GET",
					                            url: "/CoatColour/RefillAllCoatColour",
					                            success: function (data) {
                                                    $.each(data, function (id, region) {
                                                        CoatColourID.append($('<option/>', {
                                                            value: region.CoatColourID,
                                                            text: region.CoatColourName
							                            }));
						                            });

						                            dialog.modal('hide');
					                            },
					                            error: function (xhr, AJAXOptions, thrownError) {
						                            dialog.modal('hide');
						                            alert('Failed to retrieve .');
					                            }
				                            });
                                        }
                                    },
                                    error: function (data) {
                                        dialog.modal('hide');
                                        toastr.error(data);
                                        bootbox.alert(data.Msg);
                                    }
                                });
                            }
                        }
                    }
                });
            });
            $(document).on('click', '#SaveLocationOfMicrochip', function () {
                bootbox.confirm({
                    message: "@Resources.Resource.AreYouSure",
                    buttons: {
                        confirm: {
                            label: '@Resources.Resource.Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: '@Resources.Resource.No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            if ($("#ArabicName").val() == '') {
                                bootbox.alert({
                                    message: '@Resources.Resource.PleasefillalRequiredfields',
                                    size: 'small',
                                    buttons: {
                                        ok: {
                                            label: '@Resources.Resource.Ok',
                                            className: 'btn-info'
                                        }
                                    }
                                });
                            }
                            else
                            {
                                var dialog = bootbox.dialog({
                                    title: '@Resources.Resource.PleaseWait',
                                    message: '<p><i class="fa fa-spin fa-spinner"></i> @Resources.Resource.Saving...</p>',
                                    closeButton: false
                                });
                                var dataToSave = {
                                    LocationOfMicrochipID: $("#LocationOfMicrochipID").val(),
                                    ArabicName: $("#ArabicName").val(),
                                    EnglishName: $("#EnglishName").val()
                                };
                                $.ajax({
                                    type: "POST",
                                    url: "/LocationOfMicrochip/SaveLocationOfMicrochip",
                                    data: JSON.stringify(dataToSave),
                                    contentType: 'application/json',
                                    success: function (data) {
                                        dialog.modal('hide');
                                        if (data.Code == 0) {
                                            toastr.error(data.Msg);
                                            bootbox.alert(data.Msg);
                                        }
                                        else if (data.Code == 1) {
                                            toastr.success(data.Msg);
                                            bootbox.alert(data.Msg);
                                            document.getElementById("LocationOfMicrochipID").value = data.LastID;
                                            document.getElementById("ArabicName").value = "";
                                            document.getElementById("EnglishName").value = "";
                                            $("#ArabicName").focus();
                                            var LocationOfMicrochipID = $('#LocationOfMicrochipNo');
				                            LocationOfMicrochipID.empty();
                                             $.ajax({
					                            method: "GET",
					                            url: "/LocationOfMicrochip/RefillAllLocationOfMicrochip",
					                            success: function (data) {
                                                    $.each(data, function (id, region) {
                                                        LocationOfMicrochipID.append($('<option/>', {
                                                            value: region.LocationOfMicrochipID,
                                                            text: region.LocationOfMicrochipName
							                            }));
						                            });

						                            dialog.modal('hide');
					                            },
					                            error: function (xhr, AJAXOptions, thrownError) {
						                            dialog.modal('hide');
						                            alert('Failed to retrieve .');
					                            }
				                            });
                                        }
                                    },
                                    error: function (data) {
                                        dialog.modal('hide');
                                        toastr.error(data);
                                        bootbox.alert(data.Msg);
                                    }
                                });
                            }
                        }
                    }
                });
            });
             $(document).on('click', '#UpdateDescriptionOfAnimal', function () {
                bootbox.confirm({
                    message: "@Resources.Resource.AreYouSure",
                    buttons: {
                        confirm: {
                            label: '@Resources.Resource.Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: '@Resources.Resource.No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            if ($("#AnimalName").val() == '') {
                                bootbox.alert({
                                    message: '@Resources.Resource.PleasefillalRequiredfields',
                                    size: 'small',
                                    buttons: {
                                        ok: {
                                            label: '@Resources.Resource.Ok',
                                            className: 'btn-info'
                                        }
                                    }
                                });
                            }
                            else if ($("#OwnerName").val() == '') {
                                bootbox.alert({
                                    message: '@Resources.Resource.PleasefillalRequiredfields',
                                    size: 'small',
                                    buttons: {
                                        ok: {
                                            label: '@Resources.Resource.Ok',
                                            className: 'btn-info'
                                        }
                                    }
                                });
                            }
                            else
                            {
                                var dialog = bootbox.dialog({
                                    title: '@Resources.Resource.PleaseWait',
                                    message: '<p><i class="fa fa-spin fa-spinner"></i> @Resources.Resource.Saving...</p>',
                                    closeButton: false
                                });
                                var BreedID = "";
                                if ($("#BreedNo").val() == "") {
                                    BreedID = 0;
                                }
                                else {
                                    BreedID = $("#BreedNo").val();
                                }
                                var CoatColourID = "";
                                if ($("#CoatColourNo").val() == "") {
                                    CoatColourID = 0;
                                }
                                else {
                                    CoatColourID = $("#CoatColourNo").val();
                                }
                                var AnimalTypeID = "";
                                if ($("#AnimalTypeNo").val() == "") {
                                    AnimalTypeID = 0;
                                }
                                else {
                                    AnimalTypeID = $("#AnimalTypeNo").val();
                                }
                                var GenderID = "";
                                if ($("#GenderNo").val() == "") {
                                    GenderID = 0;
                                }
                                else {
                                    GenderID = $("#GenderNo").val();
                                }
                                var LocationOfMicrochipID = "";
                                if ($("#LocationOfMicrochipNo").val() == "") {
                                    LocationOfMicrochipID = 0;
                                }
                                else {
                                    LocationOfMicrochipID = $("#LocationOfMicrochipNo").val();
                                }
                                var dataToUpdate = {
                                    AnimalID: $("#AnimalID").val(),
                                    AnimalName: $("#AnimalName").val(),
                                    OwnerID: $("#OwnerID").val(),
                                    DateOfBirth : $("#DateOfBirth").val(),
                                    BreedID: BreedID,
                                    CoatColourID: CoatColourID,
                                    AnimalTypeID: AnimalTypeID,
                                    GenderID: GenderID,
                                    LocationOfMicrochipID: LocationOfMicrochipID,
                                    MicrochipNumber: $("#MicrochipNumber").val(),
                                    DateOfMicrochipping : $("#DateOfMicrochipping").val()
                                };
                                $.ajax({
                                    type: "POST",
                                    url: "/DiscriptionOfAnimal/UpdateDiscriptionOfAnimal",
                                    data: JSON.stringify(dataToUpdate),
                                    contentType: 'application/json',
                                    success: function (data) {
                                        dialog.modal('hide');
                                        if (data.Code == 0) {
                                            toastr.error(data.Msg);
                                            bootbox.alert(data.Msg);
                                        }
                                        else if (data.Code == 1) {
                                            toastr.success(data.Msg);
                                            bootbox.alert(data.Msg);
                                            dialog.modal('hide');
                                            window.location = "/DiscriptionOfAnimal/Index";
                                        }
                                    },
                                    error: function (data) {
                                        dialog.modal('hide');
                                        toastr.error(data);
                                        bootbox.alert(data.Msg);
                                    }
                                });
                            }
                        }
                    }
                });
            });
        });
    </script>
}

