<!DOCTYPE html>
<html lang="@PetsWeb.Helpers.CultureHelper.GetCurrentNeutralCulture() " dir="@(PetsWeb.Helpers.CultureHelper.IsRighToLeft() ? "rtl" : "ltr")">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cantip Pets Clinic</title>
    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/AllMyCss" + (PetsWeb.Helpers.CultureHelper.IsRighToLeft() ? "-rtl" : ""))
    @Scripts.Render("~/bundles/modernizr")

    @*<script src='@Scripts.Url("~/bundles/modernizr")' async></script>*@
    <style>


        .sticky {
            /*position: fixed;
            top: 0;
            width: 100%;*/
        }

        .stickypadd {
            padding-top: 50px;
        }
    </style>

</head>
<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;" id="MainHead">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div style="margin:5px;">



                    <span style="color:green;font-weight:bolder;">P</span>ets<span style="color:green;font-weight:bolder;"> C</span>linic
                </div>



            </div>
            <!-- /.navbar-header -->

            @Html.Partial("Header")
            <!-- /.navbar-top-links -->


            @Html.Partial("LeftMenu")


            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">

                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    @RenderBody()
                    <!-- /.panel -->
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>

    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/app")

    @RenderSection("scripts", required: false)


    <script>
        $(document).ready(function () {
       
          
        });

          

       

 


    </script>
</body>
</html>
