<div class="navbar-default sidebar" role="navigation">
    <div class="clearfix" style="margin:5px;">
    </div>
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/Home/Index" class="LikLoad"><i class="fa fa-dashboard fa-fw active"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-files-o   fa-fw"></i> @Resources.Resource.MainSetup <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level ">
                    <li>
                        <a href="/Company/Index" class="LikLoad"><i class="fa fa-files-o   fa-fw"></i>@Resources.Resource.CompanyInfo</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-edit fa-fw"></i> @Resources.Resource.Definitions <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level ">
                    <li>
                        <a href="/City/Index" class="LikLoad"><i class="fa fa-edit fa-fw"></i>@Resources.Resource.City</a>
                    </li>
                    <li>
                        <a href="/Country/Index" class="LikLoad"><i class="fa fa-edit fa-fw"></i>@Resources.Resource.Country</a>
                    </li>
                    <li>
                        <a href="/Breed/Index" class="LikLoad"><i class="fa fa-edit fa-fw"></i>@Resources.Resource.Breed</a>
                    </li>
                    <li>
                        <a href="/CoatColour/Index" class="LikLoad"><i class="fa fa-edit fa-fw"></i>@Resources.Resource.CoatColour</a>
                    </li>
                    <li>
                        <a href="/AnimalType/Index" class="LikLoad"><i class="fa fa-edit fa-fw"></i>@Resources.Resource.Species</a>
                    </li>
                    <li>
                        <a href="/LocationOfMicrochip/Index" class="LikLoad"><i class="fa fa-edit fa-fw"></i>@Resources.Resource.LocationOfMicrochip</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-th-list fa-fw"></i> @Resources.Resource.Procedures <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level ">
                    <li>
                        <a href="/DetailsOfOwnership/Index" class="LikLoad"><i class="fa fa-th-list fa-fw"></i>@Resources.Resource.DetailsOfOwnership</a>
                    </li>
                    <li>
                        <a href="/DiscriptionOfAnimal/Index" class="LikLoad"><i class="fa fa-th-list fa-fw"></i>@Resources.Resource.DiscriptionOfAnimal</a>
                    </li>
                    <li>
                        <a href="/PhysicalExamination/New" class="LikLoad"><i class="fa fa-th-list fa-fw"></i>@Resources.Resource.PhysicalExamination</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> @Resources.Resource.Reports <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level ">
                    
                </ul>
            </li>
        </ul>
    </div>


    <!-- /.sidebar-collapse -->
</div>