@model PetsWeb.ViewModels.CitySearchFilterVM
@{
    ViewBag.Title = "Delete  City";
}

<div style="padding-top:20px;">
    <div class="panel panel-danger">
        <div class="panel-heading">
            @Resources.Resource.DeleteCity
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.CityID)
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.CityID, new { @id = "CityID", @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ArabicName)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.ArabicName, new { @id = "ArabicName", autofocus = "autofocus", @class = "form-control", @readonly = "readonly", @style = "max-width:480px"  })
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.EnglishName)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group  input-group">
                        @Html.TextBoxFor(m => m.EnglishName, new { @id = "EnglishName", @class = "form-control", @readonly = "readonly", @style = "max-width:480px"  })
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(m => m.CountryName)
                    </div>
                </div>
                <div class="col-lg-4">
                    @Html.TextBoxFor(m => m.CountryName, new { @id = "CountryName", @class = "form-control", @readonly = "readonly", @style = "max-width:480px" })
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-danger  fa fa-trash-o" id="DeleteCity">@Resources.Resource.Delete</button>
            <button type="button" class="btn btn-danger  fa fa-times" id="Close">@Resources.Resource.Close</button>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $(document).on('click', '#Close', function () {
                window.location = "/City/Index";
            });
             $(document).on('click', '#DeleteCity', function () {
                bootbox.confirm({
                    message: "@Resources.Resource.AreYouSure",
                    buttons: {
                        confirm: {
                            label: '@Resources.Resource.Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: '@Resources.Resource.No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            if ($("#ArabicName").val() == '') {
                                bootbox.alert({
                                    message: '@Resources.Resource.PleasefillalRequiredfields',
                                    size: 'small',
                                    buttons: {
                                        ok: {
                                            label: '@Resources.Resource.Ok',
                                            className: 'btn-info'
                                        }
                                    }
                                });
                            }
                            else
                            {
                                var dialog = bootbox.dialog({
                                    title: '@Resources.Resource.PleaseWait',
                                    message: '<p><i class="fa fa-spin fa-spinner"></i> @Resources.Resource.Deleting...</p>',
                                    closeButton: false
                                });
                                var dataToDelete = {
                                    CityID: $("#CityID").val(),
                                    ArabicName: $("#ArabicName").val(),
                                    EnglishName: $("#EnglishName").val()
                                };
                                $.ajax({
                                    type: "POST",
                                    url: "/City/DeleteCity",
                                    data: JSON.stringify(dataToDelete),
                                    contentType: 'application/json',
                                    success: function (data) {
                                        dialog.modal('hide');
                                        if (data.Code == 0) {
                                            toastr.error(data.Msg);
                                            bootbox.alert(data.Msg);
                                        }
                                        else if (data.Code == 1) {
                                            toastr.success(data.Msg);
                                            bootbox.alert(data.Msg);
                                            var CityID = $('#CityNo');
				                            CityID.empty();
                                             $.ajax({
					                            method: "GET",
					                            url: "/City/RefillAllCity",
					                            success: function (data) {
                                                      CityID.append($('<option/>', {
                                                            value: 0,
                                                            text: '@Resources.Resource.City'
							                            }));
                                                    $.each(data, function (id, region) {
                                                        CityID.append($('<option/>', {
                                                            value: region.CityID,
                                                            text: region.CityName
							                            }));
						                            });

                                                    dialog.modal('hide');
                                                    window.location = "/City/Index";
					                            },
					                            error: function (xhr, AJAXOptions, thrownError) {
						                            dialog.modal('hide');
						                            alert('Failed to retrieve .');
					                            }
				                            });
                                        }
                                    },
                                    error: function (data) {
                                        dialog.modal('hide');
                                        toastr.error(data);
                                        bootbox.alert(data.Msg);
                                    }
                                });
                            }
                        }
                    }
                });
            });
       });
    </script>
}



