@model PetsWeb.ViewModels.CitySearchFilterVM
@{
    ViewBag.Title = "Update City";
}
<script>
    $("#ArabicName").focus();
</script>

<div class="row" id="MemberShipType">
    <div class="col-md-3 col-md-offset-5">
        <div style="padding-top:20px;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    @Resources.Resource.UpdateCity
                </div>
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CityID)
                            @Html.TextBoxFor(m => m.CityID, new { @id = "CityID", @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ArabicName)<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.ArabicName, new { @id = "ArabicName", autofocus = "autofocus", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.EnglishName)
                            @Html.TextBoxFor(m => m.EnglishName, new { @id = "EnglishName", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.CountryName)
                            @Html.DropDownListFor(m => m.CountryID, new SelectList(Model.Country, "CountryID", "CountryName"), new { @id = "CountryNo", @class = "form-control", @style = "max-width:480px" })
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-success fa fa-edit" id="UpdateCity" data-dismiss="modal">@Resources.Resource.Update</button>
                    <button type="button" class="btn btn-danger  fa fa-times" data-dismiss="modal">@Resources.Resource.Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

